body /* reglage de la marget-du padding et de la police de la page   */
{
  margin: 0px;
  padding: 0px;
  font-family: titre;
  height: 100%;
}
.leslogo > ul {
  display: flex;
}
p {
  font-size: larger;
}
main {
  height: 442px;
}
.leslogo {
  visibility: hidden;
}
#menu_mobile {
  display: block;
  visibility: hidden;
}
#listeMobile {
  margin-top: -12px;
}
#always {
  width: 330px;;
  margin-left: auto;
  margin-right: auto;
}
#contacte
   {
      border: 0px;
   }
.hautun {
text-shadow: 1px 1px;
}
.haut{/* mode flex pour placer la photo  */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.hautdeux {
  overflow: hidden;
  border-radius: 100%;
  margin: 0px 25px;
  height: 150px;
  width: 150px;
}
.hautdeux > img { /* taille de ma photo */
  width: 100%;
}
header
{
  color: #d9fff8;
}
#nomformation
{
  align-items: flex-end;
}

#menu
{
  border: 2px solid black;
height: 48px;
}
#experience {
  overflow: auto;
}
.total {
  display: flex;
}
.toto {
  display:none;
}
.toto > p {
  color: #73a6ad;
}
.rondun {
  display: flex;

}
.rondeux {
  display: flex;

}
.rondtrois {
  display: flex;

}
.rondquatre {
  display: flex;

}
span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: left;
  background: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.rondun span:nth-child(-n+2){
  background: #9084e3;
}
.rondeux span:nth-child(-n+2){
  background: #9084e3;
}
.rondtrois span:nth-child(-n+1){
  background: #9084e3;
}
.rondquatre span:nth-child(-n+1){
  background: #9084e3;
}
.rond {
  margin-left: auto;
}

.toto:target {
  display: block;
  height: auto;
  width: 100%;
  overflow: auto;
  color: #73a6ad;
}
@font-face {
  font-family: 'titre';
  src: url('acme.ttf')
}
.toto:target ~ #always {
  display: none;
}


#menu ul
{
  list-style-type:none;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
li {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}
li a {
  color: white;
}
#menu li:hover {
  font-size: 19px;
}

.liun:hover {
  color: red;
}
.container {
  display: flex;
  height: 20vh;
  justify-content: space-around;
}
.comp {
  font-size: 14px;
  width: 335px;
}
.con {
  font-size: 14px;
  width: 263px;
}
footer {
  margin-top: -34px;
}

body  { /* animation de l ecriture au chargement de la page -   */
  position: relative;
  background-image:url(image/font.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: appear ease-in-out 3s;
}
@keyframes appear { /* regle de lanimation  */
  from {
    left: -100%
  }
  to {
    left: 0%;
  }
}
p { /* couleur de la police -   */
  color: #73a6ad;
  margin-left: 6px;
}
.foot {
  color: white;
}
iframe { /* mise en place du formulaire*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (max-width:900px) {
  p
  {
    display: block;
    overflow: auto;
    text-align: justify;
    font-size: 0.7em;
  }
  body {
    background-size: auto;
    height: 100%;
  }
  #menu {
    font-size: 11px;
    margin-top: -14px;
    border: none;
    height: auto;
  }
  #menu > ul {
    padding-left: 10px;
  }
  #menu > ul > li {
    margin-left: 62px;
  }
    .comp {
    width: 310px;
  }
  .con {
    margin-right: auto;
  }
  iframe {
    width: auto;
    height: 255px;
  }
  .hautdeux > img {
    margin-left: 0px;
  }
  #experience >ul > li{
    margin-top: -22px;
  }
  #experience > h1 {
    margin-top: -4px;
  }
  #formation > h1 {
    margin-top: -4px;
  }
  #formation >ul > li{
    margin-top: -20px;
  }
  #competance > h1 {
    margin-top: -4px;
  }
  #competance >ul > li{
    margin-top: -20px;
  }
  #loisir > h1 {
    margin-top: -4px;
  }
  #loisir >ul > li::first-line {
    margin-top: -20px;
  }
  #loisir > img {
    height: 60px;
    width: 60px;
  }
  footer {
    margin-top: auto;
  }
  .container {
    visibility: hidden;
  }
  #menu_nav i {
    position: absolute;
    width: 24px;
    height: 4px;
    background: blueviolet;
    border: 11px green solid;
   }


   #menu_nav ul {
       flex-direction: column;
       text-align: center;
       background-color: rgba(247, 247, 247, 0.6);
   }


   #menu_nav ul li:hover ul {
       display: block;
       background-color: rgba(247, 247, 247, 0.6);
       text-align: center;

   }
   #menu_nav i::before, #menu_nav i::after {
    content: "";
    display: block;
  }
  #menu_nav i, #menu_nav i::before, #menu_nav i::after {
    position: absolute;
    width: 24px;
    height: 4px;
    background: blueviolet;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #menu_nav i::before {
    margin-top: -8px;
  }
  #menu_nav i::after {
    margin-top: 8px;
  }
  #menu_mobile {
    position: absolute;
    width: 24px;
    height: 4px;
    background: blueviolet;
  }
   #menu_mobile:checked ~ #listeMobile {
       display: none;
   }
  #menu_mobile {
    display: block;
    visibility: hidden;
  }
  #menu_nav i:hover {
    cursor: pointer;
  }
  main {
    height: 217px;
    margin-top: 27px;
  }
  .leslogo {
    visibility: visible;
  }
  .leslogo > ul {
    display: flex;
  }
#linkicone {
  margin-top: -50px;
}
}
