body /* reglage de la marget-du padding et de la police de la page   */
{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: titre;
}
#contacte
   {
      border: 0px;
   }
.haut{/* mode flex pour placer la photo  */
  display: flex;
}
.hautdeux > img { /* taille de ma photo */
  width: 140px;
  height: 120px;
  border-radius: 70px;
  margin-left: 50px;
}
header
{
  color: #d9fff8;
}
#nomformation
{
  align-items: flex-end;
}

#menu
{
  border: 2px solid black;

}
#experience {
  overflow: auto;
}
.total {
  display: flex;
}
.toto {
  display:none;
}
.toto > p {
  color: #73a6ad;
}
.rondun {
  display: flex;

}
.rondeux {
  display: flex;

}
.rondtrois {
  display: flex;

}
.rondquatre {
  display: flex;

}
span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: left;
  background: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.rondun span:nth-child(-n+2){
  background: #9084e3;
}
.rondeux span:nth-child(-n+2){
  background: #9084e3;
}
.rondtrois span:nth-child(-n+1){
  background: #9084e3;
}
.rondquatre span:nth-child(-n+1){
  background: #9084e3;
}
.rond {
  margin-left: auto;
}

.toto:target {
  display: block;
  height: auto;
  width: 100%;
  overflow: auto;
  color: #73a6ad;
}
@font-face {
  font-family: 'titre';
  src: url('acme.ttf')
}
.toto:target ~ #always {
  display: none;
}


#menu ul
{
  list-style-type:none;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
li {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}
li a {
  color: white;
}
#menu li:hover {
  font-size: 19px;
}

.liun:hover {
  color: red;
}
.container {
  display: flex;
  height: 20vh;
  justify-content: space-around;
}
.comp {
  font-size: 14px;
  width: 335px;
}
.con {
  font-size: 14px;
  width: 263px;
}
.principal {
  height: 80vh;

}
footer {
  height: 20vh;
}

body  { /* animation de l ecriture au chargement de la page -   */
  position: relative;
  background-image:url(image/font.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: appear ease-in-out 3s;
}
@keyframes appear { /* regle de lanimation  */
  from {
    left: -100%
  }
  to {
    left: 0%;
  }
}
p { /* couleur de la police -   */
  color: #73a6ad;
  margin-left: 6px;
}
.foot {
  color: white;
}
iframe { /* mise en place du formulaire*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width:300px) and (max-width:900px) {
  p
  {
    display: block;
    overflow: auto;
    text-align: justify;
    font-size: 0.7em;

  }
  body {
    background-size: auto;
  }
  #menu {
    font-size: 11px;
  }
  #menu > ul {
    padding-left: 10px;
  }
  .comp {
    width: 310px;
  }
  .con {
    margin-right: auto;
  }
  iframe {
    width: auto;
    height: 255px;
  }
  .hautdeux > img {
    margin-left: 0px;
  }
  #experience >ul > li{
    margin-top: -22px;
  }
  #experience > h1 {
    margin-top: -4px;
  }
  #formation > h1 {
    margin-top: -4px;
  }
  #formation >ul > li{
    margin-top: -20px;
  }
  #competance > h1 {
    margin-top: -4px;
  }
  #competance >ul > li{
    margin-top: -20px;
  }
  #loisir > h1 {
    margin-top: -4px;
  }
  #loisir >ul > li::first-line {
    margin-top: -20px;
  }
}
