body
{
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

header
{
  color: #d9fff8;
}
#nomformation
{
  align-items: flex-end;
}

#menu
{
  border: 2px solid black;

}
.total {
  display: flex;
}
.toto {
  display:none;
}
.toto > p {
  color: #73a6ad;
}
.rondun {
display: flex;

}
.rondeux {
display: flex;

}
.rondtrois {
display: flex;

}
.rondquatre {
display: flex;

}
span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: left;
  background: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.rondun span:nth-child(-n+2){
  background: #9084e3;
}
.rondeux span:nth-child(-n+2){
  background: #9084e3;
}
.rondtrois span:nth-child(-n+1){
  background: #9084e3;
}
.rondquatre span:nth-child(-n+1){
  background: #9084e3;
}
.quit
{
  width: 98%;
  display: flex;
  flex-direction: row-reverse;
  color: red;
  font-size: 25px;
}
.toto:target {
  display: block;
  height: 300px;
  width: 100%;
  overflow: auto;
  color: #73a6ad;

}
.toto:target ~ #always {
  display: none;
}
.toto ~ #always {
  display: block;
}

#menu ul
{
  list-style-type:none;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
li {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}
li a {
  color: white;
}
#menu li:hover {
  font-size: 19px;
}

.liun:hover {
  color: red;
}
.container {
  display: flex;
  height: 20vh;
  justify-content: space-around;
}
.comp {
  font-size: 14px;
  width: 335px;
}
.con {
  font-size: 14px;
  width: 263px;
}
.principal {
  height: 80vh;

}
footer {
  height: 20vh;
}

body  {
  position: relative;
  background-image:url(/home/blank-user05/_blank/ecv/image/font.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: appear ease-in-out 3s;
}
@keyframes appear {
  from {
    left: -100%
  }
  to {
    left: 0%;
  }
}
p {
  color: #73a6ad;
  margin-left: 6px;
}
.foot {
  color: white;
}
