
.hautdeux {
  display: none;
}
#contacte {
  display: none;
}
body { /* Modifications : la couleur de fond de page - la police -   */
  background-color :red;
  font-family :Serif;
  font-size :15pt;
}
footer {
  display:none;
}
#menu  {
  display:none;
 }
